<div class="menu iconfont icontoggle-copy">
  <div class="shadow"></div>
  <div class="drawer light">


    <h1>jjjj</h1>
  </div>
</div>
<!-- <el-drawer
  :direction=direction
  size="60%"
  :visible.sync="drawer"
  :modal="false"
  :custom-class="icon ? 'light' : 'dark'"
  :with-header="false">
  <div>
    <mobile-menu/>
  </div>
</el-drawer> -->
