.article-entry blockquote {
    background-color: #17d8bd;
    margin: 0;
    text-align: unset;
    padding: 10px 5px;
}

.article-entry blockquote p {
    font-size: 14px;
    margin: 0.8em 0;
}

.article-inner {
    border-radius: 10px;
    background-color: rgba(117, 202, 241, 0.4);
}

.widget a {
    color: #454166;
}

.widget {
    text-shadow: unset;
    background-color: rgba(91, 156, 213, 0.4);
}

.article-entry .article-more-link {
    margin: 1.0em 0;
    text-align: right;
}

#sidebar {
    float: right;
}

@media screen and (min-width: 768px) {
    #main {
        width: 70.3333%;
    }

    .top-banner .mdtitle h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 768px) {
    .top-banner .ban-title {
        width: 100%;
    }
}


.article-entry blockquote {
    position: relative;
    padding: 10px 2%;
}

blockquote::before {
    content: "";
    position: absolute;
    width: 1%;
    height: 100%;
    top: 0;
    left: 0;
    background: #baceca;
}