.theme-bg
  //background-image: url("/images/luo.jpg")
  //background-image: url("https://s0.xinger.ink/acgimg/acgurl.php")
  background-image: url("http://120.76.43.38:3000/getimages/random")

  background-position: top
  background-size: cover
  background-repeat: no-repeat
  position: fixed
  top: 0
  left: 0
  z-index: -1
  bottom: 0
  right: 0
  // opacity: 0.5

.hidden-bar
  background: rgba(69, 108, 176, 0.5)
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  box-shadow: 0 0 25px 0 #fff
  .container
    padding: 0 110px
  .navbar
    margin-bottom: 0
  .navbar-toggle
    .icon-bar
      background: #fff
  .navbar-brand
    padding: 10px 0 0 10px
  .navbar-collapse
    padding: 0 40px

.top-banner
  box-shadow: 0 0 25px 0 #7a7a7a
  .img
    background-repeat: no-repeat
    background-size: cover
    background-position: center
  .ban-title
    position: absolute

    left: 50%
    transform: translateX(-50%)
    top: 20%
    text-align: center
    color: #5178ff
    letter-spacing: 3px
    img
      border: 3px solid #9f9f9f
      border-radius: 100%
      transition: all ease 1s
      &:hover
        transform: rotate(360deg)
    &> div h1
      font-weight: bold
      font-family: "方正舒体", "Microsoft YaHei UI", sans-serif
    &> div h1
      font-size: 36px

    a
      font-size: 20px
      color: #6483D4
  .md
    height: 380px
    margin-top: 50px
    background-image: url("/images/59.png")
  .other
    margin-top: 50px
    height: 170px
    background-image: url("/images/32.png")
    background-position: center
  .othertitle
    top: 14%
    font-size: 15px
    h1
      font-size: 30px;

.hitokoto-text
  font-family: "Microsoft YaHei UI", sans-serif
  padding: 10px
  border-radius: 10px
  background: rgba(132, 132, 132, 0.6)
  color: #e7e7e7
  margin-top: 10px
  p
    font-weight: normal
    line-height: 30px
  strong
    color: #6483D4


